
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');


* {
    box-sizing: border-box;
  
  }
  
  body {
    background-color: rgb(0, 0, 0);
  }
  
  
  
  
  li,
  a,
  button {
    color: #A2855B;
    font-family: 'Cinzel Decorative', cursive;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    
  }

  p{
    color: #A2855B;
    font-size: 20px;
    font-family: 'Federo', sans-serif;
  }

  h1{
    color: #A2855B;
    font-family: 'Cinzel Decorative', cursive;
    text-decoration: none;
    list-style: none;
    font-size: 50px;
    

  }

#navbarNav{
  height: 40px;
}

  
  li {
    display: inline-block;
    padding: 0px 20px;
  
    
  }
  
  .nav_links{
    display: flex;
    flex-wrap: wrap;
  }
  
  .nav_links li a {
    transition: all 1.5s;
  }
  
  .nav_links li a:hover {
    text-decoration: underline;
    color: #ffff;
    
  }
  
  /* Hamburger Menu */
  
  .hamburger{
    display: none;
    height: 100%;
    margin-left: auto;
    padding: 0 16px;
    cursor: pointer;
  }
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(229, 201, 143);
  }
  
/* Giulia */

.container-fluid-1{
    margin: 200px;
}

#text-center{
  font-size: 150px;
  text-align: center;
}


  /* Cafè  */

  .text-center{
    margin-left: 300px;
    margin-right: 300px;
  }

/* Media queries */

@media(max-width:1024px){
  nav{
  border: none;
  }
  .hamburger{
    display:block;

  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav_links {
    position: fixed;
    display: flex;
    height: 70vh;
    left: -100%;
    top: 70px;
    background-color: rgba(0, 0, 0, 1);
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;

  }

  .nav_links li{
    margin: 16px 0;
  }

  .nav_links.active{
    left: 0;
  }

}
